<h1><%= @album.title %> by <%=@album.band.name%>,
  <%= @album.live == 1 ? "Live" : "Studio"%></h1>


<h3> Tracks </h3>
<ul>
  <% @album.tracks.each do |track| %>
    <li>
      <%= link_to track.song.song_title, track_url(track) %>
    </li>
  <% end %>
</ul>

<p><%= link_to "Edit #{@album.title}", edit_album_url(@album)%></p>

<br>
<br>
<%= link_to 'All The Albums!', albums_url %><br>
<%= link_to 'All The Tracks!', tracks_url %><br>
<%= link_to 'All The Bands!', bands_url %><br>
<%= link_to 'All The Songs!', songs_url%><br>