<h1><%= @band.name %></h1>

<h2> Albums </h2>
<ul>
  <% @band.albums.each do |album| %>
  <li> <%= link_to album.title, album_url(album) %> </li>
  <% end %>
</ul>

<p><%= link_to "Edit #{@band.name}", edit_band_url(@band)%></p>

<br>
<br>
<%= link_to 'All The Albums!', albums_url %><br>
<%= link_to 'All The Tracks!', tracks_url %><br>
<%= link_to 'All The Bands!', bands_url %><br>
<%= link_to 'All The Songs!', songs_url%><br>